body {
    background-color: beige;
    font-family: "Andale Mono", Verdana, monospace;
}

input {
    border-radius: 5px;
    background-color: mistyrose;
    border: 0;
    height: 25px;
    font-size: 15px;
    width: 135px;
    text-align: center;
    font-family: "Andale Mono", Verdana, monospace;
    word-wrap: break-word;
    margin: 3px;
}

input[type="submit"], input[type="button"] {
    width: auto;
    word-wrap: break-word;
    background-color: pink;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: deeppink;
    color: cornsilk;
}

input[type="color"] {
    width: 25px;
    height: 25px;
    word-wrap: break-word;
}

select {
    background-color: pink;
    border: 0;
    margin: 3px;
}

.search-item select {
    width: 120px;
}

.header {
    height: 100px;
    width: 100%;
    display: block
}

.header-in {
    background-color: aqua;
    text-align: center;
    padding: 40px
}

.flying-bubble {
    background-color: lime;
    position: fixed;
    top: 30px;
    right: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 20px;
    word-wrap: break-word;
}

.flying-bubble:hover {
    background-color: greenyellow;
}

input.flying-bubble-input {
    background-color: transparent;
    text-underline: deeppink;
    margin-top: 10px;
    margin-left: -5px
}

input.flying-bubble-input:hover {
    background-color: transparent;
    color: green;
}

input.admin-input {
    background-color: paleturquoise;
}

input.admin-input:hover {
    background-color: deepskyblue;
}

.footer {
    height: 100px;
    width: 100%;
    display: block
}

.footer-in {
    background-color: #e265b9;
    text-align: center;
    padding: 40px;
}

.search-area {
    background-color: blueviolet;
    width: 160px;
    float: right;
    margin: 10px;
    padding: 10px;
    border-radius: 20px
}

.search-item {
    background-color: hotpink;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
    text-align: center;
}

.main-area {
    background-color: blanchedalmond;
    width: calc(100% - 280px - 180px);
    min-width: 280px;
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 20px
}

.main-item {
    background-color: cornsilk;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
}

.main-item-dimmed {
    background-color: antiquewhite;
    color: gray;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
}

.main-item-error {
    background-color: tomato;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
    color: cornsilk;
}

.main-item-success {
    background-color: greenyellow;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
}

.main-item-warning {
    background-color: gold;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
}

.menu-area {
    background-color: antiquewhite;
    width: 180px;
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 20px
}

.menu-area-admin {
    background-color: paleturquoise;
    width: 140px;
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 20px
}

.menu-item {
    background-color: hotpink;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
}

.menu-item-admin {
    background-color: lightblue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
}

.content {
    width: 100%;
    display: inline-block
}

.car-color {
    width: 25px; height: 25px; display: inline-block;
}

.car-property {
    display: inline-block;
}

.big {
    font-weight: bold;
    font-size: xx-large;
}